In [5]:
import pandas as pd
import numpy as np
memories = pd.read_pickle('memories.pkl')

In [20]:
memories['previous_state'] = memories['previous_state'].apply(tuple)
memories['current_state'] = memories['current_state'].apply(tuple)
memories['size'] = 1
memories.head()

    previous_state action reward current_state  size
380        (9, -3)      0   -100       (9, -6)     1
102       (15, 31)      1   -100      (14, 31)     1
71        (20, 14)      0      1      (19, 15)     1
222       (15, 21)      1      1      (14, 23)     1
376       (13, -8)      1      1      (12, -7)     1

In [9]:
memories['size'] = memories.groupby(['previous_state','action', 'reward', 'current_state']).transform(np.size)

ValueError: No objects to concatenate

In [48]:
memories = memories.sample(10000, replace=True, weights=memories['size'])       
memories = memories.groupby(['previous_state','action', 'reward', 'current_state']).sum().reset_index()

In [49]:
memories

  previous_state  action  reward current_state          size
0       (22, 14)       0       1      (22, 14)  2.954835e+36